body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
/* ..................................Navbar */
.navbar {
  background-color: #1b160e;
  position: absolute;
  top: 8%;
  left: 2%;
  width: 350px;
  height: 340px;
}





/* ............responsitive */

@media (max-width: 480px) {
  body {
    font-size: 14px;
    background-color: rgb(123, 123, 105);
  }
 .ready{
  font-size: 30px;
  background-color: yellow;
 }
  

}

/* Styles for tablets */
@media (min-width: 481px) and (max-width: 850px) {
  body {
    font-size: 18px;
    background-color: orange;
   
  } 
  /* .............. Homepages */
  .ipads{
    display: none;
  }
 .medium_{
  width: 300px;
 }
.ipad_text{
 text-align: left;
 margin-right: 140px;
  color: red;
  margin-bottom: 20px;
}
}


/* .............. big tablets */
@media (min-width: 850px) and (max-width: 1024px) {
  body{
    background-color: blue;
  }

  
}

